{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block h1 %}
    <h1 class="h2">Dashboard</h1>
{% endblock %}

{% block body %}

<div class="example-wrapper">

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/application/src/Controller/DashboardController.php'|file_link(0) }}">src/Controller/DashboardController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/application/templates/dashboard/index.html.twig'|file_link(0) }}">templates/dashboard/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
