{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block h1 %}
    <h1 class="h2">Dashboard</h1>
{% endblock %}

{% block body %}

<div class="alert alert-secondary">
    <p>Dashboard will display overall sending statistics. It's in development and will be available in further versions.</p>
    <p>Use <a href="{{ path('app_activity') }}">Activity</a> to monitor sending logs and events.</p>
</div>

{% endblock %}
